.Navbar {
  border-right: 1px solid grey;
  height: 770px;
}
.welcome {
  padding-top: 30px;
  padding-left: 20px;
  flex-wrap: wrap;
}
.hovers:hover {
  color: limegreen;
}
.dot {
  max-width: 15px;
  max-height: 15px;
  opacity: 0;
  margin-top: 5px;
  color: limegreen;
}
.hovers:hover .dot {
  opacity: 1;
}
.notification {
  background-color: limegreen;
}
