.Navbar {
  border-right: 1px solid #ccc;
}
.welcome {
  flex-wrap: wrap;
}
.dot {
  margin-top: 5.5px;
  color: limegreen;
}
.avkash{
  color: limegreen;
}
.notification {
  background-color: limegreen;
}
body {
  overflow: hidden;
}
img{
  width: 300px;
  height: 300px;
}

